---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';

import profileimage from '../assets/images/profileimage.jpg';

const metadata = {
  title: 'Home – Karl Ma',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'Projects', href: '/projects' },
        { text: 'Resume', href: '/resume' },
        { text: 'About', href: '/about' },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- ******** Content Widget - About Me ******** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'github-mark',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/m-karl',
        },
      },
      {
        icon: 'LinkedIn_icon',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/karl-ma/',
        },
      },
      {
        icon: 'devicon--kaggle',
        callToAction: {
          target: '_blank',
          text: 'Kaggle',
          href: 'https://www.kaggle.com/mkarl83',
        },
      },
    ]}
    image={{
      src: profileimage,
      alt: 'Profile Image',
      loading: 'eager',
      layout: 'constrained',
      width: 450,
      height: 450,
      // class: 'rounded-full',
      // class: 'mx-auto w-full rounded-full bg-gray-500 shadow-lg',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Hi there, I'm Karl</h2><br />
      <p>Thanks for visiting my website!</p><br />
      <p>I'm currently a student at the University of Waterloo, pursuing a bachelor's degree in mathematics.</p>
      <br />
      <p>
        My interests lie in statistics and data science. I love learning about new methods and technologies in these
        fields, and finding ways to apply them to real-world issues.
      </p>
      <!-- <p>
        My passions are in pure math, statistics, and data science, but I have a wide variety interests, ranging from
        finance and economics, to piano performance.
      </p> -->
      <br />
      <p>I have a few of my projects listed below, so please take a look if you're interested!</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->
  <!-- 
  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout> -->
</Layout>
